* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(96, 153, 238);
  position: relative;
}

/* styling major parts of the page */

.title {
  text-align: center;
  font-size: 42px;
  margin: 0px;
  padding: 13px 0;
  padding-bottom: 20px;
  font-family: 'Coiny';
  background-color: rgb(196, 207, 222);
  background-color: #f9dddd;
}

article {
  line-height: 2;
  text-align: center;
}

.rules {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  padding-bottom: 10px;
  font-family: 'sono';
}

.rules_desc {
  padding: 20px 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  background-color: #f9dddd;
}

.explanation {
  border-right: 1px black solid;
  flex: 3 2;
  line-height: 3;
  font-size: 18px;
  padding-right: 10px;
}

.cute-chibi {
  padding: 5px;
  background-color: rgb(0, 0, 0);
}

.additional-info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1 5;
  /* background: linear-gradient(#057ff2, #ffec1e, #686868); */
  border-left: 1px black solid;
  line-height: 2;
  padding: 12px;
}

header {
  margin: 0 auto;
}

div {
  text-align: center;
}

.yourNumber {
  margin-top: 30px;
  margin-bottom: 50px;
  background: #1d7382;
  border: 1px solid rgb(0, 0, 0);
  font-family: inherit;
  color: #000000;
  font-size: 4rem;
  padding: 1rem;
  width: 13rem;
  text-align: center;
  /* display: ruby-base; */
  margin-bottom: 3rem;
  background: linear-gradient(#2970e2, #5f5e5e);
}

.hidden {
  display: none;
}

.message {
  font-weight: bolder;
  margin-bottom: 20px;
}

/* Styling buttons*/

button {
  border: none;
  background-color: #32c8e2;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-weight: bold;
  margin: 25px;
  border: 1px black solid;
  padding: 7px;
  cursor: pointer;
  width: 250px;
  font-family: 'sono';
}

button:hover {
  background-color: #3255e2;
  color: black;
}

.showSp,
.showIt,
.showFr,
.showPt,
.showRm {
  width: 130px;
  background-color: #de5d08;
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.showSp:hover {
  background-color: orangered;
  color: orange;
}

.showFr:hover {
  background-color: #4f4fd7, 63%, 58%;
  color: #fff;
}

.showIt:hover {
  background-color: red;
  color: #fff;
}

.showPt:hover {
  background-color: #82d646;
  color: yellow;
}

.showRm:hover {
  background-color: rgb(77, 77, 175);
  color: #b37b67;
}
.close {
  width: 90px;
  margin-bottom: 20px;
}

/* styling links */

a:link {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

/* Styling decorations */

.fifth {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 32px;
  left: 590px;
  background-color: #000;
  display: inline-block;
}

.sixth {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 32px;
  right: 590px;
  background-color: black;
  display: inline-block;
}

/* STYLING MODAL AND EVERYTHING RELATED */

/* .overlay {
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.spanish-modal {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  color: black;
  background: linear-gradient(#ff4d00, rgb(255, 234, 0), #ff4d00);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.french-modal {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  color: black;
  background: linear-gradient(0.25turn, #4f4fd7, #f8f8f8, red);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.italian-modal {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  color: black;
  background: linear-gradient(0.25turn, #0e8a0e, #f8f8f8, red);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.portuguese-modal {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  color: black;
  background: radial-gradient(#4f4fd7, rgb(255, 234, 0), #4f4);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.romanian-modal {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  color: black;
  background: linear-gradient(0.25turn, #4f4fd7, #e1aa35, red);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

ul {
  list-style: none;
}

.squares {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-bottom: 13px;
}

.first {
  background-color: #000000;
  width: 17px;
  height: 17px;
}

.second {
  height: 17px;
  width: 17px;
  background-color: rgb(255, 2, 2);
}

.third {
  background-color: #000000;
  width: 17px;
  height: 17px;
}

.forth {
  background-color: #ff0000;
  width: 17px;
  height: 17px;
}
