.ukrainian-modal {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  color: black;
  background: linear-gradient(blue, yellow);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.russian-modal {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  color: black;
  background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.polish-modal {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  color: black;
  background: linear-gradient(rgb(250, 250, 250), rgb(238, 53, 53));
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.serbian-modal {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  color: black;
  background: linear-gradient(rgb(255, 4, 4), rgb(9, 73, 119), white);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.czech-modal {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  color: black;
  background: conic-gradient(white, rgb(204, 101, 101), blue);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.3);
  z-index: 10;
}

/* Buttons */

.showUkr,
.showRu,
.showPol,
.showSerb,
.showCz {
  width: 130px;
  background-color: #ffffff;
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
